.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 4rem;
}

.i-name>:nth-child(3){
    color: gray;
    font-weight: 100px;
    font-size: 2rem;
    margin-top: 10px;
}

.i-button{
    width: 10rem;
    height: 3rem;
}


.i-icons{
    margin-top: 3rem;
    display: flex;
    gap: 0px;
}

.i-icons>*{
    transform: scale(0.5);
}

.i-icons>*:hover{
    cursor: pointer;

}






.i-right{
    flex: 1;
    position: relative;
    left: 125px;
}

.i-right>*{
    position:absolute;
    z-index: 1;
}


.i-right>:nth-child(1){
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}
.i-right>:nth-child(2){
    top: -4.6rem;
    transform: scale(0.67) ;
    left: -3rem;
}
.i-right>:nth-child(3){
    transform: scale(0.95);
    left: 46px;
    top: -34px;

}

.i-right>:nth-child(4){
    right: 38rem;
    top: -3rem;
    transform: scale(0.65);
}

.blur{
    position: absolute;
    width: 35rem;
    height: 31rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -16%;
    left: 16%;
    filter: blur(72px);


}